n8n_v2/emoti_cs_pipeline.array.json
[
  {
    "name": "Emoti CS Agent — V2 (n8n hybrid)",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "emoti-ticket",
          "options": {
            "rawBody": true
          },
          "responseMode": "responseNode"
        },
        "id": "webhook-1",
        "name": "Inbound webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          200,
          400
        ],
        "webhookId": "emoti-ticket-hybrid"
      },
      {
        "parameters": {
          "language": "javaScript",
          "jsCode": "// Decode raw body, extract HMAC-related metadata + idempotency key + parsed payload.\n// rawBody=true means n8n hands us body bytes in binary.data.data (base64).\nconst item = $input.first();\nconst headers = (item.json && item.json.headers) || (item.headers) || {};\nconst sigHeader = headers['x-webhook-signature'] || headers['X-Webhook-Signature'] || '';\nconst idemHeader = headers['x-idempotency-key'] || headers['X-Idempotency-Key'] || '';\n\nlet rawBody = '';\nif (item.binary && item.binary.data && item.binary.data.data) {\n  rawBody = Buffer.from(item.binary.data.data, 'base64').toString('utf-8');\n} else if (typeof item.json.body === 'string') {\n  rawBody = item.json.body;\n} else if (item.json && item.json.body) {\n  rawBody = JSON.stringify(item.json.body);\n} else {\n  rawBody = JSON.stringify(item.json || {});\n}\n\nlet parsed = {};\ntry { parsed = JSON.parse(rawBody); } catch (e) { parsed = {}; }\n\n// Parse signature header: 't=<unix>,v1=<hex>'\nlet ts = '';\nlet sigValue = '';\nif (sigHeader) {\n  const parts = Object.fromEntries(\n    sigHeader.split(',').filter(p => p.includes('=')).map(p => {\n      const [k, ...v] = p.split('=');\n      return [k.trim(), v.join('=')];\n    })\n  );\n  ts = parts.t || '';\n  sigValue = parts.v1 || '';\n}\n\nconst hmacInput = ts && rawBody ? ts + '.' + rawBody : '';\nconst sigProvided = !!(ts && sigValue);\nconst idemKey = idemHeader || ('idem-' + (parsed.message_id || parsed.channel_thread_id || ts || Date.now()));\n\n// Flat fields for downstream nodes — avoids n8n expression quirks with nested $json.parsed.X\nreturn [{ json: {\n  ts,\n  sig_value: sigValue,\n  sig_provided: sigProvided,\n  hmac_input: hmacInput,\n  idem_key: idemKey,\n  source: parsed.source || 'cms',\n  body: parsed.body || '',\n  subject: parsed.subject || null,\n  channel_thread_id: parsed.channel_thread_id || null,\n  sender: parsed.sender || null,\n  language_hint: parsed.language_hint || 'pl'\n}}];"
        },
        "id": "decode-1",
        "name": "Decode + extract metadata",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          420,
          400
        ]
      },
      {
        "parameters": {
          "action": "hmac",
          "type": "SHA256",
          "value": "={{ $json.hmac_input }}",
          "secret": "={{ $env.EMOTI_HMAC_SECRET || 'demo-hmac-secret-change-me' }}",
          "encoding": "hex",
          "dataPropertyName": "hmac_computed"
        },
        "id": "crypto-1",
        "name": "Compute HMAC",
        "type": "n8n-nodes-base.crypto",
        "typeVersion": 1,
        "position": [
          640,
          400
        ]
      },
      {
        "parameters": {
          "language": "javaScript",
          "jsCode": "// Decide HMAC outcome:\n//  - if no signature header was sent → SKIP (demo-friendly, backend uses same fallback)\n//  - if signature is sent → must match computed HMAC; ts within 300s\nconst dec = $('Decode + extract metadata').first().json;\nconst computed = $json.hmac_computed || '';\nconst now = Math.floor(Date.now() / 1000);\nconst ageOk = !dec.ts ? false : Math.abs(now - parseInt(dec.ts, 10)) <= 300;\n\nlet outcome = 'pass';\nlet reason = '';\nif (!dec.sig_provided) {\n  outcome = 'skip';\n  reason = 'no signature header (demo mode — backend re-verifies)';\n} else if (!ageOk) {\n  outcome = 'fail';\n  reason = 'signature timestamp outside 300s window';\n} else if (computed.toLowerCase() !== (dec.sig_value || '').toLowerCase()) {\n  outcome = 'fail';\n  reason = 'signature mismatch';\n}\n\nreturn [{ json: {\n  ...dec,\n  hmac_computed: computed,\n  hmac_outcome: outcome,\n  hmac_reason: reason\n}}];"
        },
        "id": "hmac-check-1",
        "name": "HMAC verdict",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          860,
          400
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "hmac-not-fail",
                "leftValue": "={{ $json.hmac_outcome }}",
                "rightValue": "fail",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-hmac-1",
        "name": "HMAC OK?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1080,
          400
        ]
      },
      {
        "parameters": {
          "language": "javaScript",
          "jsCode": "// Pattern pre-filter — port of backend services/defense.py (English + Polish jailbreak markers).\nconst d = $json;\nconst text = (d.subject || '') + '\\n' + (d.body || '');\nconst patterns = [\n  ['ignore_previous',     /\\bignore\\s+(all\\s+)?(previous|prior|above)\\s+(instructions?|prompts?|rules?)\\b/i],\n  ['ignore_polish',       /\\b(zignoruj|ignoruj)\\s+(poprzednie|wszystkie)\\s+(instrukcje|polecenia|reguły)\\b/i],\n  ['you_are_now',         /\\byou\\s+are\\s+now\\s+/i],\n  ['act_as',              /\\b(act\\s+as|pretend\\s+to\\s+be|udawaj|zachowuj\\s+się\\s+jak)\\b/i],\n  ['system_role_marker',  /<\\|?\\s*system\\s*\\|?>|^\\s*system\\s*:\\s*/im],\n  ['override_directive',  /\\b(override|bypass|disregard|disable)\\s+(?:the\\s+|all\\s+|any\\s+)?(safety|restrictions?|filter|guardrails?)\\b/i],\n  ['reveal_prompt',       /\\b(reveal|show|repeat)\\s+(your\\s+)?(system\\s+)?(prompt|instructions)\\b/i],\n  ['ai_meta',             /\\bif\\s+you\\s+are\\s+(an?\\s+)?(ai|llm|language\\s+model)\\b/i]\n];\nconst signals = [];\nfor (const [label, re] of patterns) if (re.test(text)) signals.push(label);\nreturn [{ json: { ...d, _prefilter_signals: signals, _prefilter_suspected: signals.length > 0 } }];"
        },
        "id": "prefilter-1",
        "name": "Pattern pre-filter",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1300,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.EMOTI_API_BASE || 'http://backend:8000' }}/api/v1/tickets",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Api-Key",
                "value": "={{ $env.EMOTI_API_KEY || 'demo-emoti-key-change-me' }}"
              },
              {
                "name": "X-Idempotency-Key",
                "value": "={{ $json.idem_key }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ source: $json.source, body: $json.body, subject: $json.subject, channel_thread_id: $json.channel_thread_id, sender: $json.sender, language_hint: $json.language_hint }) }}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "backend-create-1",
        "name": "POST /api/v1/tickets",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1520,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "leftValue": "={{ $json.ticket_id }}",
                "rightValue": "duplicate",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-not-dup-1",
        "name": "Not a duplicate?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1640,
          300
        ]
      },
      {
        "parameters": {
          "amount": 30,
          "unit": "seconds"
        },
        "id": "wait-1",
        "name": "Wait for pipeline",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [
          1740,
          300
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "={{ $env.EMOTI_API_BASE || 'http://backend:8000' }}/api/v1/tickets/{{ $('POST /api/v1/tickets').item.json.ticket_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Api-Key",
                "value": "={{ $env.EMOTI_API_KEY || 'demo-emoti-key-change-me' }}"
              }
            ]
          },
          "options": {
            "timeout": 10000
          }
        },
        "id": "backend-status-1",
        "name": "GET ticket status",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1960,
          300
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.suspected_injection }}",
                      "rightValue": true,
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "injection"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "escalated_human",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "escalated"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra",
            "renameFallbackOutput": "drafted"
          }
        },
        "id": "switch-1",
        "name": "Route by status",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          2180,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SLACK_WEBHOOK_URL || 'http://backend:8000/health' }}",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ text: '⚠️ INJECTION SUSPECTED — ticket ' + $json.id + ' quarantined. Open: ' + ($env.UI_BASE_URL || 'http://localhost:5173') + '/ticket/' + $json.id }) }}",
          "options": {
            "timeout": 5000
          }
        },
        "id": "slack-injection-1",
        "name": "Slack: injection alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2400,
          140
        ],
        "continueOnFail": true,
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SLACK_WEBHOOK_URL || 'http://backend:8000/health' }}",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ text: '🚨 ESCALATED — ticket ' + $json.id + ' (' + $json.category + ') routed to human queue. Open: ' + ($env.UI_BASE_URL || 'http://localhost:5173') + '/ticket/' + $json.id }) }}",
          "options": {
            "timeout": 5000
          }
        },
        "id": "slack-escalated-1",
        "name": "Slack: escalation",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2400,
          300
        ],
        "continueOnFail": true,
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SLACK_WEBHOOK_URL || 'http://backend:8000/health' }}",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ text: '✅ DRAFT READY — ticket ' + $json.id + ' (' + $json.category + ') awaiting operator review. Open: ' + ($env.UI_BASE_URL || 'http://localhost:5173') + '/ticket/' + $json.id }) }}",
          "options": {
            "timeout": 5000
          }
        },
        "id": "slack-draft-1",
        "name": "Slack: draft ready",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2400,
          460
        ],
        "continueOnFail": true,
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ ticket_id: $('GET ticket status').item.json.id, status: $('GET ticket status').item.json.status, category: $('GET ticket status').item.json.category, suspected_injection: $('GET ticket status').item.json.suspected_injection }) }}",
          "options": {
            "responseCode": 200
          }
        },
        "id": "respond-ok-1",
        "name": "Respond OK",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          2620,
          300
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ error: 'invalid HMAC signature', reason: $json.hmac_reason }) }}",
          "options": {
            "responseCode": 401
          }
        },
        "id": "respond-401-1",
        "name": "Respond 401",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1300,
          540
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ ticket_id: 'duplicate', status: $json.status || 'duplicate_idempotent', source: 'backend-idempotency' }) }}",
          "options": {
            "responseCode": 200
          }
        },
        "id": "respond-dup-1",
        "name": "Respond duplicate",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1740,
          540
        ]
      }
    ],
    "connections": {
      "Inbound webhook": {
        "main": [
          [
            {
              "node": "Decode + extract metadata",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Decode + extract metadata": {
        "main": [
          [
            {
              "node": "Compute HMAC",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compute HMAC": {
        "main": [
          [
            {
              "node": "HMAC verdict",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HMAC verdict": {
        "main": [
          [
            {
              "node": "HMAC OK?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HMAC OK?": {
        "main": [
          [
            {
              "node": "Pattern pre-filter",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond 401",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pattern pre-filter": {
        "main": [
          [
            {
              "node": "POST /api/v1/tickets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "POST /api/v1/tickets": {
        "main": [
          [
            {
              "node": "Not a duplicate?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Not a duplicate?": {
        "main": [
          [
            {
              "node": "Wait for pipeline",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond duplicate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait for pipeline": {
        "main": [
          [
            {
              "node": "GET ticket status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET ticket status": {
        "main": [
          [
            {
              "node": "Route by status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route by status": {
        "main": [
          [
            {
              "node": "Slack: injection alert",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Slack: escalation",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Slack: draft ready",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack: injection alert": {
        "main": [
          [
            {
              "node": "Respond OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack: escalation": {
        "main": [
          [
            {
              "node": "Respond OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack: draft ready": {
        "main": [
          [
            {
              "node": "Respond OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "timezone": "Europe/Warsaw"
    },
    "active": false,
    "version": 3
  }
]